@charset "UTF-8";

*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

img
{
  height: 315px;
  width: 560px;
}

p, h1, h2
{
  margin-bottom: 10px;
  text-align: justify;
}

h2
{
  padding: 15px;
}

header, .normal
{
  padding: 15px;
}

.flex-content
{
  background-color: #f5deb3;
  padding: 20px;

  display: flex;
  flex-flow: column nowrap;
}

article.text-media
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

article.media-text
{
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
}

div.media > img
{
  display: block;
  margin: auto;
}

div.media > iframe
{
  display: block;
  margin: auto;
}

article
{
  padding-bottom: 15px;
}

article > div.text
{
  flex: 1 1 500px;

}

article > div.media
{
  flex: 1 0 500px;
}