@charset "UTF-8";

body{
    text-align: justify;
    background-color: #b3cbb9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    color: #ffffff;
}

h2{
    color: #d3d3d3;
}

header{
    background-color: #829687;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

#apresentacao{
    background-color: #2a4e34;
    padding: 20px;
    margin: 20px auto 20px auto;
    border-radius: 20px;
}

nav{
    background-color: #2a4e34;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

nav > a{
    margin-right: 30px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    
}

nav > a:hover{
    color: #ffffff;
}

main{
    background-color: #829687;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

#sonhos{
    background-color: #2a4e34;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

#Coisas{
    background-color: #2a4e34;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.principal{
        color: #ffffff;
        background-color: #092327;
        text-align: center;
        border-radius: 20px;
}

.imagens{
    text-align: center;
}

footer{
    font-size: small;
}

img{
    box-shadow: 4px 4px 4px #00000065;
    margin: 15px;
}