@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  border: 3px solid darkblue;
  display: grid;
  height: 250px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 5px;
}

.item {
  border: 3px solid darkred;
  padding: 5px;
}